/*Finns snyggare sätt att göra med height: 100vh; men vet inte riktigt hur? /Axel */

* {
  width: 100vw;
}

#main-logo-page,
img {
  height: 100vh;
  width: 100vw;
  background-color: lightcyan;
}

#about {
  height: 100vh;
  background-color: lightblue;
}

#portfolio {
  height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.portfolioitem img {
  height: 30vh;
  width: 90vw;
}

.gammalt-case {
  margin: auto;
  text-align: center;
}

#contact {
  height: 100vh;
  background-color: lightcoral;
}


/* Blur */

.portfolioitem img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.portfolioitem:hover img {
  -webkit-filter: blur(0);
  filter: blur(0);
}